.container {
  min-height: 100vh;
}

.articleWrap {
  display: grid;
  grid-auto-columns: 3fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 900px) {
  .articleWrap {
    display: grid;
    grid-auto-columns: 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (max-width: 700px) {
  .articleWrap {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
